*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
}

.nav{
    background-color: #e7c6ff;
    padding: 20px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cart{
    background-color: #fff;
    color:black;
    font-weight: 900;
    padding: 7px;
    font-size: 25px;
    border-radius: 5px;
    position: relative;
}
.cartPrice{
    background-color: purple;
    color:#fff;
    position: absolute;
    top:-15px;
    right:-10px;
    font-size:16px;
    padding: 4px;
    border-radius: 3px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 225px);
}
.product{
   border: 2px solid black; 
}