*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
    background-color: #fff0f3;
}

.nav{
    background-color: #e7c6ff;
    padding: 30px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

.cart{
    background-color: #fff;
    color:black;
    font-weight: 900;
    padding: 7px;
    font-size: 25px;
    border-radius: 5px;
    position: relative;
}

.cartPrice{
    background-color: red;
    color:#fff;
    position: absolute;
    top:-15px;
    right:-10px;
    font-size:16px;
    padding: 4px;
    border-radius: 3px;
}
i{
    cursor: pointer;
}
a{
    text-decoration: none;
    color:black;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 225px);
    gap: 35px;
    justify-content: center;
}

@media(max-width:1010px){
   .cards{
    grid-template-columns: repeat(2, 225px);
   }
}
@media(max-width:503px){
    .cards{
     grid-template-columns: repeat(1, 225px);
    }
 }

.product{
   border: 2px solid black; 
   border-radius: 5px;
}

.cardData{
    display: flex;
    flex-direction:column;
    padding: 10px;
    gap:10px;
}

.price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    font-size: 17px;
    display: flex;
    flex-direction: row;
    gap:7px;
}

.bi-dash-square{
    color: red;
}

.bi-plus-square{
   color:green;
}


.billdata{
    text-align: center;
    margin-bottom: 25px;
}
.Homebtn{
    color:#000;
    background-color:#e7c6ff;
    padding: 7px;
    border:none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 11px;
    
}
.end-products{
    color:red;
    font-weight: bold;
}